body, html {
    font-family: 'Inter', sans-serif;
}
.second-front{
    font-family: 'Merriweather', serif !important;
}
.fc1{
    color: #686868;
}
.fc2{
    color: #434343;
}
.main-color{
    color: #2b4ff4;
}
.bg-main-color{
    background-color: #2b4ff4;
}
.header{
    padding: 12px;
}
.navbar{
    padding: 21px 1rem;
}
.dropdown-item{
    color: #686868 !important; 
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #2b4ff4 !important; 
    background-color: #e9edfd !important; 
}
ul.navbar-nav>li{
    margin-left: 25px;
} 
.search-icon{
    margin-right: 25px;
}
.main-bg{
    min-height: 500px;
    background-image: url('../images/bg1.jpeg');
    background-repeat:  no-repeat;
    background-position : center center;
    background-size: cover;
    background-color: #efefef;
    overflow: hidden;
}
.concert-logo-wrapper{
    padding: 29% 0 0 23%;
}
.concert-logo-wrapper-mobile{
    display: none;
}
.concert-logo-wrapper img{
    width: 95%;
    height: auto;
}
h1,h2,h3,h4,h5{
    margin: .2em 0 .75em;
}
h1{
    font-size: 3rem !important;
    font-weight: 800 !important;
}
h2{
    font-size: 2.25rem !important;
    font-weight: 600 !important;
}
h3{
    font-size: 2.0rem !important;
    line-height: 1.25rem !important;
    font-weight: 600 !important;
}
h4{
    font-weight: 300 !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
}
.h4-bold{
    font-weight: 600 !important;
}
a{
    text-decoration: none !important;
}
.banner-img{
    background-size: contain !important;
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 375px;
}
.main-caption{
    padding: 15% 3% 0 2%;
}
.section{
    padding: 6% 4%;
}
.customer-logo div{
    margin: 0 auto;
    overflow: auto;
    display: flex;
    padding: 2% 0;
}
.customer-logo div span{
    margin: 0 4%;
}
.alexander-group{
    background-color: rgba(16, 35, 158, 1);
    color: white;
}
.alexander-group-img{
    background: url('../images/2nd-banner.png') no-repeat center center;
}
.plan-group-img{
    background: url('../images/plan-banner.png') no-repeat center center;
}
.operate-group-img{
    background: url('../images/operate.png') no-repeat center center;
}
.pay-group-img{
    background: url('../images/pay.png') no-repeat center center;
}
.splitter{
    border-top: 1px solid #ccc;
    margin: 0 10% 55px;
}
.news-resources{
    width: 68%;
    margin: 0 auto 4%;
}
.news-resources img{
    width: 100%;
    height: auto;
}
.news-heading{
    font-size: 2.25rem;
    color: inherit;
    line-height: 1.25;
    font-weight: 600;
    text-align: center;
    margin: .2em 0 .75em;
}
.see-varicent-in-action{
    background-color: rgba(240, 245, 255, 1) !important;
}
.see-varicent-in-action>div{
    width: 52%;
    margin: 0 auto;
}
.action-heading{
    color: #434343;
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.video-wrapper{
    height: 400px;
}
.book-demo{
    background-color: #030852;
    color: white;
    padding: 60px 0 30px;
}
.book-demo>div{
    margin: 40px auto;
    width: 64%;
    text-align: center;
}
.book-demo>div>h3{
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
}
.book-demo>div>h2{
    margin-bottom: 20px;
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 600;
}
.book-demo>div>p{
    margin-bottom: 53px;
    font-size: 1rem;
}
.book-demo>div>a,.book-demo>div>a:visited,.book-demo>div>a:focus{
    background: #FFF;
    border-color: #FFF;
    color: #10239e;
}
.book-demo>div>a:hover{
    background-color: #d4d8f1;
}
footer{
    padding: 5% 3%;
    background-color: rgba(248, 248, 248, 1.0);
}
footer .copy{
    font-size: 12px;
    margin-top: 24px;
}
footer a,footer a:visited{
    font-weight: normal;
    color: #6e6e6e;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px ;
    display: block;
}
footer a:hover{
    text-decoration: underline !important;
    color: #6e6e6e;
}
footer a h4{
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 16px;
}
footer a:hover{
    color: #333;
}
.book-demo-search-outter{
    display: none;
}
.book-demo-search-inner{
    display: block;
}
@media (min-width: 992px) {
    .nav-item:hover>.dropdown-menu {
        display: block;
    }    
}
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    .flex-direction-reverse{
        flex-direction: column-reverse !important;
    }
    .book-demo-search-outter{
        display: block;
    }
    .book-demo-search-inner{
        display: none;
    }
    .customer-logo div span {
        margin: 0 2.6%;
    }
    .news-resources {
        width: 96%;
    }
    .see-varicent-in-action>div {
        width: 100%;
    }
    .video-wrapper{
        width: 79%;
        margin: 0 auto;
    }
    .book-demo>div {
        width: 85%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .flex-direction-reverse{
        flex-direction: column-reverse !important;
    }
    .main-bg{
        background: #efefef none;
    } 
    .concert-logo-wrapper{
        display: none;
    }
    .concert-logo-wrapper-mobile{
        display: block;
        margin-top: 30px;
    }
    .concert-logo-wrapper-mobile img{
        width: 360px;
        height: auto;
    }
    .section-text-center {
        text-align: center;
    }
    .news-resources {
        width: 91%;
    }
    .news-resources article{
        margin-bottom: 40px;
    }
    .book-demo-search-outter{
        display: none;
    }
    .book-demo-search-inner{
        display: block;
    }
    .see-varicent-in-action>div {
        width: 100%;
        text-align: center;
    }
    .see-varicent-in-action>div .action-heading {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .video-wrapper {
        height: 190px;
    }
    .book-demo>div {
        margin: 0px auto;
        width: 94%;
        text-align: center;
    }
    .book-demo>div>h2 {
        font-size: 1.5rem !important;
    }

}